.app {
    background-color: #2b2b2b;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.text {
    font-size: 44px;
    color: rgb(181, 224, 9);
    font-weight: 800;
}
   